html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(
			to right,
			rgba(25, 78, 194, 0.3),
			rgba(69, 99, 255, 0.3)
		),
		url(world.jpg);

	background-size: cover;
	/* background-blend-mode: screen; */
	/* background-repeat: no-repeat; */
	margin: auto;
}

.container {
	height: 90vh;
	width: 90%;
	margin: auto;
	background-color: ivory;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: repeat(4, 1fr);
	grid-template-areas:
		'sidebar title title title' 'sidebar card card score'
		'sidebar card card score' 'sidebar card card score';
}

.title {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 3rem;
	color: rgb(6, 6, 51);
	text-align: center;
	background-color: hotpink;
	grid-area: title;
	margin: 0;
}

.sidebar {
	background-color: cyan;
	grid-area: sidebar;
	font-size: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
}

.sidebar a {
	text-decoration: none;
}
.card {
	background-image: url(world.jpg);
	background-color: chocolate;
	grid-area: card;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.image {
	height: 300px;
	width: 90%;
	margin-top: 1rem;
	background-color: lightcoral;
	border-radius: 10px;
	box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.2);
}

.actions {
	margin-bottom: 2rem;
	display: flex;
	justify-content: space-around;
	width: 100%;
}

button {
	padding: 1rem 2rem;
	border-radius: 15px;
	outline: none;
	font-size: 2rem;
}

.quit {
}

.score {
	background-color: greenyellow;
	grid-area: score;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.counter {
	text-align: center;
	line-height: 3rem;
	font-size: 2rem;
	height: 3rem;
	width: 3rem;
	border: 2px solid grey;
}
