html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: rgb(4, 4, 39);
	background-image: linear-gradient(
			to right,
			rgba(25, 78, 194, 0.3),
			rgba(69, 99, 255, 0.3)
		),
		url(world.jpg);

	background-size: cover;
	/* background-blend-mode: screen; */
	/* background-repeat: no-repeat; */
	margin: auto;
}

.container {
	height: 90vh;
	width: 90%;
	margin: auto;
	background-color: ivory;
	opacity: 0.7;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 100px repeat(3, 1fr);
	grid-template-areas:
		'sidebar title title score' 'sidebar card card score'
		'sidebar card card score' 'sidebar card card score';
}

.title {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 1.5rem;
	color: rgb(6, 6, 51);
	text-align: center;
	background-color: rgba(202, 191, 34, 0.5);
	grid-area: title;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.your-score {
	display: none;
	justify-self: flex-end;
	align-self: flex-end;
	margin-bottom: -3rem;
	margin-right: 1rem;
	font-size: 1.5rem;
	color: rgb(4, 4, 39);
}

.your-score span {
	color: red;
	font-size: inherit;
}

.sidebar {
	grid-area: sidebar;
	font-size: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	background-color: rgba(202, 191, 34, 0.5);
}

.sidebar a {
	text-decoration: none;
	color: rgb(4, 4, 39);
}
.card {
	background-image: url(world.jpg);

	grid-area: card;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.image {
	height: 300px;
	width: 90%;
	/* background-image: url(); */
	background-size: 100%;
	background-position: center;
	margin-top: 1rem;

	border-radius: 5px;
	box-shadow: 0px 0 0px 5px rgba(0, 0, 0, 0.3);
}

input {
	width: 200px;
	height: 2rem;
	border-radius: 5px;
	font-size: 2rem;
}

.actions {
	margin-bottom: 2rem;
	display: flex;
	justify-content: space-around;
	width: 100%;
}

button {
	color: rgb(4, 4, 39);
	padding: 1em 2em;
	border-radius: 15px;
	outline: none;
	font-size: inherit;
	outline: none;
}
button:hover {
	color: white;
	background-color: rgb(4, 4, 39);
	outline: none;
}

.score {
	grid-area: score;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(202, 191, 34, 0.5);
}

.counter {
	text-align: center;
	line-height: 3rem;
	font-size: 2rem;
	height: 3rem;
	width: 3rem;
	border: 2px solid grey;
}

.hide {
	display: none;
}

@media screen and (max-width: 400px) {
	button {
		padding: 0.7rem;
	}

	input {
		width: 80px;
	}

	.image {
		height: 100px;
	}

	.title {
		font-size: 0.8rem;
	}
}
@media screen and (max-width: 700px) {
	.sidebar,
	.score {
		display: none;
	}

	.your-score {
		display: block;
		justify-self: flex-end;
		align-self: flex-end;
		margin-bottom: 1rem;
		margin-right: 1rem;
		font-size: 1.5rem;
		color: rgb(27, 26, 26);
	}

	.your-score span {
		color: red;
		font-size: inherit;
	}

	.image {
		height: 150px;
	}

	.title {
		font-size: 1rem;
	}

	.container {
		height: 90vh;
		width: 90%;
		margin: auto;
		background-color: ivory;
		opacity: 0.7;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(4, 1fr);
		grid-template-areas:
			'title title ' 'card card '
			'card card ' 'card card';
	}
}
@media screen and (min-width: 701px) and (max-width: 900px) {
	button {
		padding: 0.5;
	}

	input {
		width: 130px;
	}

	.image {
		height: 190px;
	}

	.title {
		font-size: 1rem;
	}

	button {
		padding: 0.6em 1.2em;
		border-radius: 15px;
		outline: none;
		font-size: inherit;
	}
}
